@model DTO_Role
@{
    ViewData["Title"] = "Add";
}

    <div class="row my-3 pb-2 border-bottom">

        <div class="col-md-6">
            <p class="title-text">Role / <span style="color:#ccc">New</span></p>
            @* <label class="btn btn-custom-active btn-sm w-auto" id="saveBtn"
                   data-toggle="modal" data-target="#saveModal">
                <a>Save</a>
            </label> *@
        </div>
    </div>

    <div class="shadow">

        <nav class="font-size-14 rounded ">
            <div class="nav nav-tabs rounded-nav nav-pills" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info"
                   role="tab" aria-controls="nav-info" aria-selected="true">Role Information</a>


            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

            <form id="frmAddRole" asp-action="AddUser" asp-controller="RoleManager" asp-area="admin" method="post" data-ajax="true" data-ajax-method="POST" data-ajax-complete="admin_rolemanager.addRoleAjaxComplete">
                <input type="hidden" id="hdnId" asp-for="RoleID" />
                <div class="tab-pane fade show active p-2" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                    <div class="d-lg-flex res-user-form ">
                        <div class="w-auto mb-2 mr-3 pr-3">
                            <label  class="col-form-label col-form-label-sm font-size-13" asp-for="RoleName" ></label>
                        </div>
                        <div class="width-31 mr-3 mb-2">

                            <input type="text" class="form-control form-control-sm" asp-for="RoleName">
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                       
                    </div>
                   
                </div>
                <button type="submit" id="btnRolesave" class="btn btn-save-modalbtn btn-sm w-auto mb-4 ml-2">
                    Save

                </button>
                <button type="button" id="btnBack" class="btn btn-save-modalbtn btn-sm w-auto mb-4 ml-2" onclick="commonFunctions.goTo('admin/RoleManager')">
                    Back

                </button>
            </form>


        </div>
    </div>

